@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');










*{
    box-sizing: border;
    margin:0;
    padding:0;
}





header{
    background-image:url('../../images/menu/fraser-cottrell-I3KHqMW0At4-unsplash.png');
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-color:black;
    opacity:1;
   /* border:3px solid red; */
    padding:3.125rem 0;
}

h1,h2 {
    font-size: 3.75rem;
    font-family: "Allura", sans-serif;
    text-transform: capitalize;
    text-align: center;
}





.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    /* border:3px solid gold; */
    


}

.container{
    width:80%;
    margin:0 auto;
    /* border:3px solid green; */

}

.hero p{
    text-align:center;
    font-size:1.125rem;
   
    margin:0 0 0 8.125rem;
    max-width:780px;

  
    
}

#logo{
    margin-bottom:2.5rem;
}

nav ul li a{
    text-transform: uppercase;
}

nav ul{
    display:flex;
}


.icons ul {
    display: flex;
    justify-content: center;
}

.icons ul li {
    margin: 0 1rem;
}

nav ul li{
    margin-right:2.5rem;
}

img{
    max-width:100%;
}

.menu{
    display:flex;
    justify-content: space-around;
    text-align:center;
    margin-bottom:3.125rem;
    /* border:3px solid violet; */

    

}



.menu h3{
    font-size:1.5625rem;
    margin-bottom: 1.5625rem;
}

.menu-container{
    background:#1A1A1A;
    /* border:3px solid orange; */
}

.menu-container img{
    width:18.75rem;
   
}


.dish {
    background: #383838;
    width: 25rem;
    /* padding: 4rem; */
    /* padding:1.875rem; */
    /* border:3px solid yellow; */
}



.one{
    /* border:3px solid teal; */
    /* width:50%; */
}





.recipe{
    background:#1A1A1A;
    text-align:center;
    padding:2.5rem 0;

}

.recipe p span{
    background:white;
    color:black;
    display:inline-block;
    padding:1.875rem 4.375rem;
    border-radius:10px;
    font-size:1.875rem;

}


.action{
    background:#B5530D;
    text-align:center;
    padding:30px 0;
}


.line{
    width:6.25rem;
    height:0.065rem;
    background-color:var(--turmeric);
    display:inline-block;
    margin:0 1.875rem;
}

h1,h2{
    display:flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width:1116px){
    .menu{
        gap:1rem;
    }

    .container{
        /* width:100%; */
    }

    .hero p{
        margin-left:3.5rem;
    }
}


@media screen and (max-width:999px) {
    .dish{
        /* width:20rem; */
        padding:1rem;
        width:70%;
        margin:0 auto;
        /* width:auto; */


    }

    .dish p{
        /* font-size:0.5rem; */
    }

    .menu{
        display:flex;
        flex-direction:column;
        /* justify-content: center; */
        
        align-items:center;
    }

    .one{
        width:100%;
    }

    
    
}


@media screen and (max-width:817px){
    h2{
        font-size:3.4375rem;
    }
}



@media screen and (max-width:790px){
    .logo {
            width: 6.25rem;
            height: 6.25rem;
        }
}




@media screen and (max-width:514) {
    .dish {
        /* width:20rem; */
        padding: 1rem;
        /* width: 70%; */
        margin: 0 auto;
        width:auto;


    }

}



/* NAVBAR */


.navbar {
    display: flex;
    align-items: center;
    color: white;

}



.navbar-links ul {
    display: flex;
    list-style-type: none;
}

.navbar-links li a {
    display: block;
}

.toggle-button {
    position: absolute;
    top: 9rem;
    right: 6rem;
    display: none;
    /* display:none insted of display:flex; on big screen*/
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 50px;
    /* border: 2px solid white; */
    border-radius: 5px;

}

.toggle-button .bar {
    height: 4px;
    margin: 5px 0;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


@media (max-width:790px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}







